.footer-wrap {
    display: flex;
    justify-content: center;

}

.footer {
    height: 15vh;
    align-items: center;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.footer-menu {
    width: 70%;
}

.footer-menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.footer-menu-link {
    font-size: 1rem;
    text-decoration: none;
    color: #6a6a77;
    font-weight: 500;
}

.footer-get-started {
    margin-left: 60px;
    border: 1px solid white;
    background-color: #6e45e2;
    padding: 10px 20px;
    border-radius: 100px;
    text-transform: uppercase;
    color: #fff;
}