*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

.table {
    background-color: #f9fafc;
    padding: 10rem;
}

.table-header {
    text-align: center;
    margin-bottom: 5rem;
}

.table-header span {
    text-transform: uppercase;
    font-size: 2rem;
    color: #9fa4af;

}

.table-header span:before {
    content: '';
    width: 20px;
    height: 1px;
    background-color: #6e45e2;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.table-header span:after {
    content: '';
    width: 20px;
    height: 1px;
    background-color: #6e45e2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.table-header p {
    font-size: 1.8rem;
    display: inline-block;
    width: 40rem;
    line-height: 1.4;
    color: #9fa4af;
}

.table-header h2 {
    color: #4f4f6f;
    font-size: 6rem;
    margin: 0;

}



/* Карточки */
.main__price-tags {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main__price-tag {
    background-color: #fff;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    width: 25rem;
    transition: 0.5s;
}

.main__price-tag:hover {
    cursor: pointer;
    box-shadow: 0px 0px 81.88px 10.12px rgba(204, 204, 223, 0.71);
}

.main__price-tags span {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-top: 3rem auto 1rem;
}

.main__price-tag h4 {
    margin: 10px;
    font-weight: 500;
    color: #4f4f6f;
    font-size: 3rem;
}

.main__price-tag h4 sub {
    font-size: 1.4rem;
}

.main__price-tag h4 sup {
    vertical-align: super;
    font-size: 1.4rem;
}

.main__price-tag p {
    color: #9fa4af;
}

.price-btn {
    background-color: #fff;
    border: #9fa4af 1px solid;
    color: #9fa4af;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    padding: 1rem 2rem;
    border-radius: 100px;
    transition: 0.2s;
}

.price-btn:hover {
    background-color: #6e45e2;
    color: #fff;
}